<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:fragment="common_header(title,links,scripts)">
		<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
		<title th:replace="${title}">The awesome application</title>
		
		<!-- Common styles and scripts -->
		
		<!-- Latest compiled and minified CSS -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">

		<!-- Latest compiled JavaScript -->
		<script th:src="@{/scripts/jquery-3.6.0.js}"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>

		<!-- header의 css -->
		<link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">

		<!--/* Per-page placeholder for additional links */-->
		<th:block th:replace="${links}" />
		<th:block th:replace="${scripts}" />
	</head>
</html>