<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/base :: common_header(~{::title},~{::link},~{::script})">
<!-- 타이틀 입력 -->
<title>insert title</title>
 <!-- 추가되는 링크 입력, 없더라도 link 빈거 하나는 있어야 하는듯? -->
<link>
 <!-- 추가되는 스크립트 입력, 역시 없더라도 빈거 하나는 있어야 하는듯? -->
<script type="text/javascript" th:src="@{/scripts/home.js}"></script>
</head>
<body>
<!-- header -->
	 <div th:replace="fragments/header :: topmenu"></div>
	<br>
	<div class="language-item-wrapper">
	<a class="paper-wrapper u-pointer" href="#">
	<div class="courses_Java" style="display: flex">
		<div class="course-body-left" style="width: 250px">
			<h1 class="course-title">Java 입문편</h1>
			<p class="course-text">자바 입문을 위한 단계</p>
			<a href="#" class="btn btn-primary">교육과정으로 이동</a>
		</div>
		<div class="course-body-rigth" style="width: 250px">
		<img class="course-img-top" th:src="@{/images/java.png}" alt="Java image">
		</div>
	</div>
	</a> 
	</div>
	<br>
	<!-- 가로로 배치해보기 -->
	<a class="paper-wrapper u-pointer" href="#">
	<div class="language-item-wrapper">
	<div class="courses_Java2" style="display: flex">
		<div class="course-body-left" style="width: 250px">
			<h1 class="course-title">Java 초급편</h1>
			<p class="course-text">자바 초급으로 시작!</p>
			<a href="#" class="btn btn-primary">교육과정으로 이동</a>
		</div>
		<div class="course-body-rigth" style="width: 250px">
		<img class="course-img-top" th:src="@{/images/java.png}" alt="Java image">
		</div>
	</div>
	</div>
	</a> 
	<br>

	<div class="container mt-3">
		<h3>모달 예시창 띄우기</h3>
		<p>이 이 버튼을 누르면 모달창이 나온다.</p>

		<button type="button" class="btn btn-primary" data-bs-toggle="modal"
			data-bs-target="#myModal">모달창 열기</button>
	</div> -->


	<!-- The Modal -->
	<!-- <div class="modal" id="myModal">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">

				Modal Header
				<div class="modal-header">
					<h4 class="modal-title">모달 제목</h4>
					<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
				</div>

				Modal body
				<div class="modal-body">
					<img th:src="@{/images/otter.jpg}" alt="수달" id="logoTest1">
					<p>모달에 사진 넣어보기 테스트</p>
				</div>

				Modal footer
				<div class="modal-footer">
					<button type="button" class="btn btn-danger"
						data-bs-dismiss="modal">닫기</button>
				</div>

			</div>
		</div>
	</div> -->

</body>
</html>